<header class="px-4 sm:px-6 lg:px-6"></header>
<main class="px-4 sm:px-3 md:px-3 lg:px-4">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
