<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Leadfoot", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-slate-900 text-white">
    <header>
      <section class="mx-auto container p-3">
        <div class="grid grid-cols-2">
          <div>Data Connected 🟢🔴</div>
          <div class="text-right">
            <span class="bg-red-500 text-white">A800</span> Mazda Miata AWD Car Category
          </div>
        </div>
        <nav class="text-center">
          <ul>
            <li class="inline-block ml-2 border border-sky-500 p-1">
              <%= link("Dashboard", to: Routes.dashboard_view_path(@conn, :view)) %>
            </li>
            <li class="inline-block ml-2 border border-sky-500 p-1">
              <a href="#">Live Lap Times</a>
            </li>
            <li class="inline-block ml-2 border border-sky-500 p-1"><a href="#">Tunes</a></li>
            <li class="inline-block ml-2 border border-sky-500 p-1"><a href="#">Cars</a></li>
            <li class="inline-block ml-2 border border-sky-500 p-1"><a href="#">Tracks</a></li>
            <li class="inline-block ml-2 border border-sky-500 p-1"><a href="#">Tour</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="inline-block border border-sky-500 p-1">
                <%= link("Server Stats", to: Routes.live_dashboard_path(@conn, :home)) %>
              </li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
